@import url("https://fonts.cdnfonts.com/css/poppins");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #1e5236;
  --abu: #9fa1b5;
  --abutrans: #9fa1b590;
  --repeated-color: #1e5236; /* New variable for the repeated color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

p,
h1,
h2,
h3,
h4,
a {
  color: var(--repeated-color);
}

* {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Poppins", sans-serif;
}

.noScrollbar::-webkit-scrollbar {
  display: none;
}

.profile-tab,
.profile-tab p {
  @apply bg-primary text-abu hover:shadow-primary !important;
}

.putih * {
  color: white !important;
}

.primary * {
  color: var(--repeated-color) !important;
}

.narrow-column {
  width: 250px;
  white-space: normal;
}

.tab-text h1 {
  color: white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.datepicker-calendar {
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  border-style: solid !important;
  border-width: 0.01px !important;
  border-color: #e2e8f0;
  font-size: 9px !important;
}

.DatePicker {
  z-index: unset !important;
  display: inline-block !important;
  width: 100% !important;
}

.DatePicker__calendarContainer {
  z-index: 10;
}

.biru {
  color: #1564c0;
}

.birugelap {
  color: #034fa4;
}

.react-calendar {
  width: 100%;
  max-width: 100%;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar * {
  border-radius: 10px;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar__navigation {
  color: var(--repeated-color); /* Gaya yang ingin Anda berikan */
}

.react-calendar * {
  color: var(--repeated-color); /* Gaya yang ingin Anda berikan */
}

.react-calendar__navigation * {
  color: var(--repeated-color); /* Gaya yang ingin Anda berikan */
  color: inherit; /* Mengembalikan warna ke warisan (putih) */
}

.react-calendar__month-view__weekdays__weekday abbr {
  color: var(--repeated-color);
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  margin: 0 5px;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: white;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--abutrans);
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: white;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  border-radius: 10px;
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  border-radius: 10px;
  background-color: var(--abutrans);
}

.react-calendar__tile--now {
  background: var(--repeated-color);
}

.react-calendar__tile--now abbr {
  color: white !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: white;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: var(--repeated-color);
  border-radius: 10px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--abutrans);
  border-radius: 10px;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  border-radius: 10px;
  background-color: #e6e6e6;
}

.react-calendar__month-view__days__day abbr {
  color: var(--repeated-color);
}

.react-calendar__tile--active abbr {
  color: white;
}
