@import url('https://fonts.cdnfonts.com/css/poppins');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  transition-property: all;
  /* overflow: hidden; */
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  color: black;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: red dashed 1px; */
  font-family: 'Poppins', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.datepicker-calendar {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  border-style: solid !important;
  border-width: 0.01px !important;
  border-color: #e2e8f0;
  font-size: 9px !important;
}

.DatePicker {
  z-index: unset !important;
  display: inline-block !important;
  width: 100% !important;
}

.DatePicker__calendarContainer {
  z-index: 10;
}

.biru {
  color: #1564c0;
}
.birugelap {
  color: #034fa4;
}
